@import url(global.css);

body {
    background-color: #ebebeb;
    overflow: hidden;
}


.main-header {
    display: block;
    position: fixed;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background: rgb(0,36,1);
    background: rgb(0,36,1);
    background: linear-gradient(166deg, rgba(0,36,1,1) 0%, rgba(9,121,61,1) 41%, rgba(122,156,26,1) 100%);
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    z-index: 2;
}

.main-header .hero-mobile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 15px;
}

.main-header .hero-mobile-wrapper i {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
}

.main-header .hero-mobile-wrapper i:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    transition: all .1s ease-in-out;
}

.main-header .hero-mobile-wrapper img {
    width: 40px;
    height: 40px;
}

.main-header .hero-desktop-wrapper {
    display: none;
}

@media only screen and (min-width: 820px) {

    .main-header {
        background: rgb(228, 225, 225);
        box-shadow: 0 0 0;
    }

    .main-header .hero-mobile-wrapper {
        display: none;
    }

        
    .main-header .hero-desktop-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .main-header .hero-desktop-wrapper img {
        width: 350px;
        height: 100%;
        margin-left: 10px;
    }
    
    .hero-desktop-wrapper .header-title {
        display: block;
        position: relative;
        background: linear-gradient(166deg, rgba(0,36,1,1) 0%, rgba(9,121,61,1) 41%, rgb(121, 156, 26) 100%);
    }

    .hero-desktop-wrapper .header-title p {
        margin: 0;
        text-transform: uppercase;
        font-family: var(--poppins);
        font-weight: 600;
        color: #fff;
        font-size: 16px;
        padding: 20px 40px 20px 95px;
    }

    .hero-desktop-wrapper .header-title .overlay-green-background {
        display: block;
        position: absolute;
        top: -1px;
        right: 347px;
        height: 100%;
        width: 90px;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        border-bottom: 65px solid rgb(228, 225, 225);;
    }

}


nav {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100vh;
    z-index: 3;
}

nav .close-nav-wrapper {
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 50%;
    margin: 25px auto 0;
    padding: 5px;
    transform: rotate(180deg);
}

nav .close-nav-wrapper i {
    display: block;
    position: relative;
    text-align: center;
    font-size: 45px;
    color: #000;
    cursor: pointer;
}

nav .close-nav-wrapper:hover {
    transform: rotate(540deg);
    transition: all .5s;
    background-color: rgb(172, 54, 54);
}

nav .close-nav-wrapper:hover i {
    color: #fff;
    transition: all .5s;
}

nav ul {
    position: relative;
    padding: 85px 0 0;
}

nav ul li {
    display: block;
    position: relative;
    margin: 10px auto;
    transition: all .3s;
}


nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    padding: 15px 0;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    color: #000;
}

nav ul li a i {
    font-size: 35px;
}

nav ul li a p {
    margin: 0;
    font-family: var(--raleway);
    font-size: 100%;
    text-transform: capitalize;
    margin-top: 5px;
    font-weight: 500;
}

nav ul li a:hover {
    background: linear-gradient(166deg, rgba(0,36,1,1) 0%, rgba(9,121,61,1) 41%, rgb(121, 156, 26) 100%);
    color: #fff;
    max-width: 350px;
    transition: all .2s ease-in-out;
}

nav ul li a.active {
    background: linear-gradient(166deg, rgba(0,36,1,1) 0%, rgba(9,121,61,1) 41%, rgb(121, 156, 26) 100%);
    color: #fff;
}

nav ul li .tooltips {
    display: none;
}

@media only screen and (min-width: 820px) {
    
    nav {
        display: block;
        background-color: #fff;
        backdrop-filter: blur(0);
        width: auto;
        height: 100vh;
        z-index: 1;
    }

    nav .close-nav-wrapper {
        display: none;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        width: 50px;
        margin: 0 10px;
        transition: all .3s ease-in-out; 
    }

    nav ul li a i {
        font-size: 28px;
    }

    nav ul li a p {
        display: none;
    }

    nav ul li a:hover ~ .tooltips {
        display: block;
    }

    nav ul li .tooltips {
        display: none;
        position: absolute;
        top: 8px;
        left: 75px;
        padding: 12px 25px;
        width: max-content;
        background: linear-gradient(166deg, rgba(0,36,1,1) 0%, rgba(9,121,61,1) 41%, rgb(121, 156, 26) 100%);
        border-radius: 4px;
        color: #fff;
        text-transform: capitalize;
        font-family: var(--raleway);
        font-size: 15px;
        font-weight: 500;
        margin: 0;
        opacity: 1;
        animation: animateTooltips .3s;
    }

    @keyframes animateTooltips {
        from {
            left: 130px;
            opacity: 0;
        }
        to {
            left: 75px;
            opacity: 1;
        }
    }

}

@media only screen and (min-width: 1200px) {
    nav ul li a {
        width: 200px;
        margin: 0 10px;
        transition: all .3s ease-in-out;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    nav ul li a p {
        display: block;
    }

    nav ul li a:hover ~ .tooltips {
        display: none;
    }
}


.request-container {
    display: block;
    position: relative;
    top: 95px;
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
    transition: all .3s;
}


.title-search-wrapper {
    display: block;
    position: relative;
    margin-top: 5px;
}

.title-search-wrapper .search {
    position: relative;
    width: 97%;
    margin: auto;
}

.title-search-wrapper i {
    position: absolute;
    top: .6rem;
    right: .8rem;
    font-size: 18px;
    font-weight: 800;
    color: rgb(149, 149, 149);
    cursor: pointer;
}


h3.documents-title {
    position: relative;
    width: 97%;
    margin: 15px auto;
    font-family: var(--poppins);
    font-weight: 600;
    text-align: center;
}

.document-request-wrapper {
    display: block;
    position: relative;
    padding: 0 10px;
    height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
    opacity: 1;
    transition: all .3s;
}


.document-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
    justify-content: space-between;
    margin: 0 0 7px;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 15px;
    width: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 1px .05px rgba(114, 113, 113, 0.5);
    animation: animateDocumentList 1s ease-in-out;
}

@keyframes animateDocumentList {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}

.document-wrapper:hover {
    border-left: 5px solid var(--dark-green);
    border-right: 5px solid var(--dark-green);
    background-color: #d1ebe7;
    transition: all .1s ease-in-out;
}

.document-wrapper .request-info {
    width: 75%;
}

.document-wrapper .request-info p {
    margin: 0;
    font-size: 100%;
    font-family: var(--poppins);
    text-transform: capitalize;
}


.request-info-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.document-wrapper .request-info p.name {
    text-transform: uppercase;
    font-weight: 600;
}

.document-wrapper .request-info p.course {
    text-transform: uppercase;
    font-weight: 500;
    color: #909090;
}

.document-wrapper .request-info p.document {
    font-size: 14px;
    color: rgba(9,121,61,1);
}

.document-wrapper .request-info p.purpose {
    font-size: 14px;
    color: rgb(172, 54, 54);
}


.request-status-date {
    width: 25%;
    text-align: right;
}

.request-status-date p {
    margin: 0;
    font-size: 14px;
    font-family: var(--raleway);
    font-weight: 500;
    text-transform: capitalize;
}

.request-status-date p.date {
    color: #909090;
}

.status-wrapper {
    position: relative;
}

.status-wrapper p.status {
    position: absolute;
    padding: 2px 7px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    right: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media only screen and (min-width: 820px) {
    .request-container {
        width: calc(100% - 75px);
        margin-left: 75px;
        transition: all .3s;
    }

    .title-search-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 10px;
    }

    
    .title-search-wrapper .search {
        max-width: 350px;
    }


        
    h3.documents-title {
        position: relative;
        width: 97%;
        margin: 0 auto;
        font-family: var(--poppins);
        font-weight: 600;
        text-align: left;
        transition: all .3s;
    }

}

@media only screen and (min-width: 1200px) {
    .request-container {
        width: calc(100% - 230px);
        margin-left: 230px;
    }

    .document-request-wrapper {
        height: calc(100vh - 190px);
    }

    .document-wrapper {
        flex-direction: row-reverse;
        justify-content: start;
        gap: 55px;
    }

    .request-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 84%;
    }

    .request-info p.name {
        width: 35%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .request-info p.course {
        width: 15%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .request-info-overflow {
        display: flex;
        width: 60%;
    }

    .request-info-overflow .document {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .request-info-overflow .purpose {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .request-status-date {
        display: flex;
        flex-direction: row;
        width: 16%;
        justify-content: space-between;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .request-status-date p.date {
        width: 40%;
    }

    .note-status-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    .status-wrapper p.status {
        position: relative;
    }

    
}


.request-wrapper {
    display: block;
}

.display-review-request {
    display: none;
    position: relative;
    padding: 25px 0;
    overflow: hidden;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.actions {
    display: flex;
    flex-direction: column;
}

.action-buttons .actions button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    font-size: 15px;
    padding: 10px 18px;
}

.action-buttons button i {
    font-size: 18px;
}

.action-buttons button p {
    margin: 0 0 0 5px;
    font-family: var(--poppins);
    font-weight: 300;
}

.request-review {
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 25px;
    padding: 65px 25px 35px;
}

.request-title {
    font-family: var(--poppins);
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--dark-green);
}

.img-wrapper {
    display: flex;
    align-items: center;
}

.img-wrapper i {
    font-size: 25px;
    margin-right: 6px;
}

.img-wrapper a {
    font-family: var(--poppins);
}

.img-wrapper a:hover {
    text-decoration: underline;
    color: #0000ff;
    transition: all .3s ease-in-out; 
}

.document-list-requested {
    display: block;
    position: relative;
    width: 100%;
}

.document-list-requested .document-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    border: 1px solid rgb(231, 230, 230);
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 7px;
}

.document-list-requested .document-wrap p {
    margin: 0;
    font-family: var(--poppins);
}

.document-list-requested .document-wrap a {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 400;
}

.document-list-requested .document-wrap a:hover {
    text-decoration: underline;
    color: #0000ff;
    transition: all .3s ease-in-out;
}

.flex-back-date {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 20px;
    width: calc(100% - 50px);
}


i.toggleBackRequest {
    position: relative;
    font-size: 25px;
    cursor: pointer;
}


.date-wrapper {
    display: block;
    position: relative;
}

.date-wrapper p.date-time {
    margin: 0;
    font-family: var(--poppins);
}


.personal-info-wrapper,
.request-info-wrapper {
    margin-top: 50px;
}


@media only screen and (min-width: 820px) {
            
    .request-review {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        gap: 45px;
        height: fit-content;
    }
        
    .flex-back-date {
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
    }


    .personal-info-wrapper,
    .request-info-wrapper {
        width: 50%;
        margin-top: 0;
        margin-bottom: 50px;
    }



    .action-buttons {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .actions {
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
    }
    
    .back-notes {
        width: 50%;
    }

    .action-buttons i#toggleBackRequest {
        margin-bottom: 0;
    }

    .action-buttons .actions button {
        margin-left: 15px;
    }

}

@media only screen and (min-width: 1700px) {
    
    .display-review-request {
        width: calc(100% - 60px);
        margin: auto;
    }

    .action-buttons .actions button {
        width: 200px;
    }

    
    .request-review .form-group {
        display: flex;
        align-items: baseline;
        gap: 35px;
    }

    .request-review .form-group label {
        width: 15%;
    }

    .request-review .form-group input,
    .request-review .form-group textarea {
        width: 85%;
    }

        
    .request-review .document-list-requested {
        width: 85%;
    }

        
    .document-list-requested .document-wrap {
        flex-direction: row;
    }

}


.modal-send-document,
.modal-on-delivery,
.modal-decline,
.modal-delivered {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 1;
    backdrop-filter: blur(2px);
}

.modal-wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    border-radius: 2px;
    padding: 25px 25px;
    background: #fff;
    opacity: 1;
    animation: animateModal .5s ease-in-out;
}



.closeModal {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    color: #909090;
    cursor: pointer;
}

.closeModal:hover {
    color: var(--bs-red);
}

.modal-wrapper h4 {
    text-transform: capitalize;
    font-family: var(--raleway);
    font-weight: 600;
    margin-top: 35px;
}

.modal-wrapper p {
    margin: 0 0 15px;
    font-family: var(--poppins);
    /* font-weight: 300; */
}

.file-attach-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.file-attach-wrapper .file-attached {
    display: none;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #e7e7e7;
    width: 100%;
    margin-top: 9px;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

.file-attached .tooltips {
    display: none;
    position: relative;
    margin: 0;
    font-family: var(--poppins);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-attach-wrapper .file-attached:hover {
    background-color: rgb(184, 54, 54);
    color: #fff;
    transition: all .3s ease-in-out;
}

.file-attach-wrapper .file-attached:hover p.filename {
    display: none;
    transition: all .3s ease-in-out;
}

.file-attach-wrapper .file-attached:hover p.tooltips {
    display: block;
    transition: all .1s;
}

.file-attach-wrapper .file-attached:hover i.bx-minus-circle {
    transform: rotate(360deg);
    color: #fff;
    transition: transform .35s ease-in-out, color .01s ease-in-out;
}

.file-attach-wrapper .file-attached p {
    margin: 0;
    font-family: var(--poppins);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-attach-wrapper .file-attached i {
    margin: 0 0 0 15px;
    font-size: 18px;
}

.form-action-buttons {
    display: block;
    position: relative;
    text-align: right;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 2px solid rgb(245, 245, 245);
}

@media only screen and (min-width: 820px) {
        
    
    .file-attach-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        row-gap: 3px;
        column-gap: 15px;
    }

    .file-attach-wrapper .file-attached {
        width: 100%;
        max-width: 206px;
    }
}


.modal-view-identity,
.modal-view-payment {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 1;
    backdrop-filter: blur(2px);
}

.modal-view-identity iframe,
.modal-view-payment iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 850px;
    height: 95vh;
}

.modal-view-identity img,
.modal-view-payment img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
}

.modal-view-identity .toggleCloseIdentity,
.modal-view-payment .toggleClosePayment {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 55px;
    color: #fff;
    cursor: pointer;
}

.modal-view-identity .toggleCloseIdentity:hover,
.modal-view-payment .toggleClosePayment:hover {
    color: var(--bs-red);
    transition: all .3s;
}

.no-request-wrapper {
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: auto;
}

.no-request-wrapper p {
    font-size: 22px;
    font-weight: 600;
    font-family: var(--poppins);
    text-align: center;
    margin: 0 0 15px;
}

.no-request-wrapper .img-wrapper-result {
    text-align: center;
}

.no-request-wrapper img {
    width: 250px;
    margin: auto;
}


.modal-logout {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 1;
    backdrop-filter: blur(2px);
}

.modal-wrapper-logout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    animation: animateModal .3s;
}

.modal-wrapper-logout h4 {
    font-family: var(--poppins);
    font-weight: 500;
}